<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Detail Page</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section id="events">
        <div class="box1">
        <h1 class="heading">Cyber Security</h1>
        <p>Date: 15 September 2023</p>
        <p>Venue: NIT</p>
        <p>Description: Paid worshop offered by Tech By Heart
            </p><p>Certificates will be provided</p>
        <br>
        <div class="event-card">
        <form action="">
            
            <h2>Apply for this Event</h2>
            
            <label for="fullname">Full Name:</label><br>
            <input type="text" name="fullname"><br>
            <label for="Email">Email:</label><br>
            <input type="email" name="email"><br>
            <label for="number">Phone:</label><br>
            <input type="number" name="phone"><br>
            <br>
            <input type="submit" id="submit" value="Apply">
            

        </form>
        </div>
    </div>
    </section>
    <footer>
        <h4> &#169 2023 Event Registration System</h4>
    </footer>
    
</body>
</html>