<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Event Handler</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <img id="logo" src="https://img.freepik.com/free-vector/bird-colorful-logo-gradient-vector_343694-1365.jpg" alt="logo"/>
            <nav>
                <a class="nav-link" href="">Home</a>
                <a class="nav-link" href="">Login</a>
                <a class="nav-link" href="">Registration</a>
            </nav>
        </header>
        <br>
        <section id="events">
        {% for event in events%}
        <div class="event-card">
            <h2>{{event.event_title}}</h2>
            <p>Location: {{event.location}}</p>
            <p>Date: {{event.date}}</p>
            <a href="{% url 'eventdetail' event.pk %}" class="details-btn">Details</a>
        </div>
        {% endfor %}
            
            </section>
        <footer>
            <h4> &copy 2023 Event Registration System</h4>
        </footer>
        
    </body>
</html>